 body {
  margin: 0;
  font-family: Arial, sans-serif;
 }
 header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #623668;
  z-index: 1000;
 }
 nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  height: 60px;
 }
 .logo {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
 }
 #nav-toggle {
  display: none;
  font-size: 2em;
  color: white;
  cursor: pointer;
 }
 nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
 }
 nav ul li {
  position: relative;
 }
 nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 1em;
 }
 nav ul li:hover {
  background-color: #555;
 }
 nav ul li ul {
  display: none;
  position: absolute;
  background-color: #623668 ;
  top: 100%;
  left: 0;
  min-width: 150px;
 }
 nav ul li:hover ul {
  display: block;
 }
 @media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
  }
  nav ul li a {
    text-align: center;
  }
  #nav-toggle {
    display: block;
  }
  .nav-open ul {
    display: flex;
  }
 }
 main {
  padding-top: 80px;
  padding: 4em;
  text-align: center;
 }